body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: #FFD900;
    padding-left: 58px;
    padding-top: 28px;
    padding-bottom: 28px;
}

section{
    display: flex;
    grid-auto-columns: 50vw;
    box-sizing: border-box;
}

#texto, #container-video{
    width: 50vw;
    padding: 20px;
    box-sizing: border-box;
}


#texto{
    text-align: center;
    background: #514988;
    padding: 20px;
    
}

#texto h1{
    color: #F3C61F;
    text-align: center;
    font-family: Verdana;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#texto h5{
    color: #FFF;
    font-family: Verdana;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#texto p{
    color: #FFF;
    font-size: 30px;
    font-style: normal;
}

#container-video{
    display: flex;
    flex-direction: column;
    height: 720px;
}

.timer{
    display: flex;
    justify-content: space-around;
    font-size: 70px;
    color: #514988;
    height: 175px;
    margin-top: -10px;
    margin-bottom: -40px;
}

#aviso{
    color: #E33881;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
}

#aviso p{
    margin-top: 20px;
}


#video {
    /* Estas propriedades garantem que a divisão seja flexível */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Isso garante que o vídeo preencha a div */
    width: 100%;
    height: 100%;
}

#video video {
    height: 100%;
    object-fit: cover;
}

footer{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

#garanta {
    display: flex;
}

#garantir{
    color: #F3C61F;
    text-align: center;
    font-family: Verdana;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#garantir h5{
    text-align: left;
    margin-left: 30px;
    margin-left: 29px;
    padding-left: 20px;
}

#ingressos{
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-left: 21px;
}


footer input {
    width: 350px;
    height: 150px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #514988;
    display: flex;
    width: 417px;
    height: 80px;
    justify-content: center;
    color: #FFF;
    font-size: 25px;
    margin-top: 57px;
    margin-left: 50px;
}


#botao input:hover {
    cursor: pointer;
    background: #514988;
    color: #F3C61F;
}
